{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                CKEditor
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('home') }}"><i class="fa fa-home"></i> {{ 'mgc.global.home'|trans({}, "messages", app.request.locale)|capitalize }}</a></li>
                <li class="active">CKEditor</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">CKEditor
                                <small>Demo1 - Full featured</small>
                            </h3>
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body pad">
                            <form>
                                <textarea class="ckeditor" id="editor0" name="editor0"></textarea>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">CKEditor
                                <small>Demo1 - Default featured (fr)</small>
                            </h3>
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body pad">
                            <form>
                                <textarea class="ckeditor-default" id="editor1" name="editor1"></textarea>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">CKEditor
                                <small>Demo2 - Default featured (en)</small>
                            </h3>
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body pad">
                            <form>
                                <textarea class="ckeditor-default" id="editor2" name="editor2" data-cke-config-language="en"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}
