{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                CKFinder
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('home') }}"><i class="fa fa-home"></i> {{ 'mgc.global.home'|trans({}, "messages", app.request.locale)|capitalize }}</a></li>
                <li class="active">CKFinder</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">CKFinder
                                <small>Demo1 - Inline mode</small>
                            </h3>
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body pad">



                            <div id="ckfinder"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}
