<footer class="main-footer">
    <!--<div class="pull-right hidden-xs">Anything you want</div>
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.-->

    <div class="pull-right hidden-xs">{{ "now"|date("d/m/Y H:i:s") }}</div>
    <strong><span class="hidden-xs">Copyright</span> &copy; 2015 <a target="_blank" href="http://www.alexandre-dupre.fr">AD</a> - </strong> <span class="hidden-xs"><b>Version</b> 4.2 -</span> <a href="#legal_notice">Mentions légales</a> - Tous droits réservés.

</footer>